<section class="section_about">
  <div class="container_about">
    <h2 id="about" class="h2_text">
      <span>About</span>
      <span class="line"></span>
    </h2>

    <ul class="list_about">
      <li>
        <p class="about_text">
          We are a minimalistic flower studio. We love people and flowers. Therefore, every day we
          give people the beauty and joy creating stylish and modern masterpieces. Every bouquet we
          create is unique as you are.
        </p>
      </li>
      <li>
        <div>
          <img
            class="item_images"
            class="list-item-about"
            src="./images/desktop-image_about.jpg"
            srcset="./images/desktop-image_about@x2.jpg"
            alt="Two lying pink-orange flowers"
          />
        </div>
      </li>
    </ul>
  </div>
</section>
