<section class="section-blog">
  <!-- container -->
  <div class="container-blog">
    <h2 id="blog" class="section-title-blog">
      <span>BLOG</span><span class="delivery-title-line"></span>
    </h2>
    <ul class="section-blog-list">
      <li class="list-item-blog">
        <img
          class="list-blog-image"
          src="./images/desktop-flowers-image1.jpg"
          width="390"
          height="421"
          alt="Flower bouqet first composition on our blog"
        />
      </li>
      <li class="list-item-blog">
        <img
          class="list-blog-image"
          src="./images/desktop-flowers-image2.jpg"
          width="390"
          height="421"
          alt="Flower bouqet second composition on our blog"
        />
      </li>
      <li class="list-item-blog mobile-hidden">
        <img
          class="list-blog-image"
          src="./images/desktop-flowers-image3.jpg"
          width="390"
          height="421"
          alt="Flower bouqet second composition on our blog"
        />
      </li>
    </ul>
    <!-- arrows for slider -->
    <ul class="arrows-list">
      <li class="">
        <a class="" href="">
          <svg width="61" height="61" class="">
            <use href="./images/icons.svg#icon-arrow-left"></use>
          </svg>
        </a>
      </li>
      <li class="">
        <a class="" href="">
          <svg width="61" height="61" class="">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </a>
      </li>
    </ul>
    <div class="subscribe">
      <p class="follow-text">Follow to our newsletter</p>
      <button class="btn btn-subscribe" follow-modal-open type="button">Subscribe</button>
    </div>
  </div>
</section>
