<section class="delivery-section">
  <div class="delivery-container">
    <h2 class="delivery-section-title" id="delivery">
      <span>DELIVERY</span><span class="delivery-title-line"></span>
    </h2>
    <ul class="delivery-list-g delivery-list">
      <li class="delivery-list-item">
        <div class="delivery-circle">
          <p class="delivery-number">1</p>
        </div>
        <div class="delivery-text">
          <p>Choose your bouquet and make an order on website</p>
        </div>
      </li>
      <li class="delivery-list-item">
        <div class="delivery-circle">
          <p class="delivery-number">2</p>
        </div>
        <div class="delivery-text">
          <p>
            Wait for the call to clarify the details of the order. You can pay online or to the
            courier
          </p>
        </div>
      </li>
      <li class="delivery-list-item">
        <div class="delivery-circle">
          <p class="delivery-number">3</p>
        </div>
        <div class="delivery-text">
          <p>Wait for the delivery at the selected time or pick up the order from the store</p>
        </div>
      </li>
      <li class="delivery-list-item">
        <div class="delivery-circle">
          <p class="delivery-number">4</p>
        </div>
        <div class="delivery-text">
          <p>Make someone happy or enjoy yourself</p>
        </div>
      </li>
    </ul>
    <div class="delivery-img-box">
      <img
        src="./images/image-delivery-desktop.jpg"
        alt="colorful poppies flowers"
        srcset="./images/image-delivery-desktop@x2.jpg 2x"
        width="320"
        height="135"
        class="delivery-img"
      />
    </div>
  </div>
</section>
