<div class="container-header">
  <div class="logo-header">
    <svg class="logo-icon-header">
      <use href="/src/images/icons.svg#icon-logo"></use>
    </svg>
  </div>
  <nav>
    <ul class="menu-header">
      <li class="menu-anemone-header">
        <a class="menu-link-header" href="#anemone">Anemone</a>
      </li>
      <li class="menu-anemone-header">
        <a class="menu-link-header" href="#about">About us</a>
      </li>
      <li class="menu-anemone-header">
        <a class="menu-link-header" href="#store">Store</a>
      </li>
      <li class="menu-anemone-header">
        <a class="menu-link-header" href="#delivery">Delivery</a>
      </li>
      <li class="menu-anemone-header">
        <a class="menu-link-header" href="#blog">Blog</a>
      </li>
    </ul>
  </nav>
  <ul class="icon-header">
    <li class="icon-tel-header">
      <a href="tel:+380631234567">
        <svg width="22" height="22">
          <use href="/src/images/icons.svg#icon-tel"></use>
        </svg>
      </a>
    </li>
    <li class="icon-burger-header">
      <button class="js-open-menu" type="button">
        <svg width="22" height="22">
          <use href="/src/images/icons.svg#icon-burger"></use>
        </svg>
      </button>
    </li>
  </ul>
</div>
