<!-- Menu modalne -->
<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="js-close-menu close-btn">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M18 6L6 18"
        stroke="white"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M6 6L18 18"
        stroke="white"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </button>
  <div class="mobile-menu-container">
    <ul class="list modal-menu">
      <li class="mobile-menu-anemone-header">
        <a class="mobile-menu-link-header mobile-menu-link-header" href="#anemone">Anemone</a>
      </li>
      <li class="mobile-menu-anemone-header">
        <a class="mobile-menu-link-header mobile-menu-link-header" href="#about">About us</a>
      </li>
      <li class="mobile-menu-anemone-header">
        <a class="mobile-menu-link-header mobile-menu-link-header" href="#store">Store</a>
      </li>
      <li class="mobile-menu-anemone-header">
        <a class="mobile-menu-link-header mobile-menu-link-header" href="#delivery">Delivery</a>
      </li>
      <li class="mobile-menu-anemone-header">
        <a class="mobile-menu-link-header mobile-menu-link-header" href="#blog">Blog</a>
      </li>
    </ul>
  </div>
</div>
