<!-- Modal3 Thank you-->
<div class="is-hidden backdrop" thank-data-modal>
  <div class="modal">
    <button type="button" class="close-btn" thank-modal-close>
      <svg
        width="18"
        height="18"
        viewBox="0 0 18 18"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M15 3L3 15M15 15L3 3L15 15Z"
          stroke="black"
          stroke-width="2"
          stroke-linecap="round"
        />
      </svg>
    </button>
    <div class="modal-thank">
      <div class="box-svg-thank">
        <svg
          class="svg-thank"
          width="188"
          height="142"
          viewBox="0 0 188 142"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <use href="./images/thank-ikon.svg#icon-Frame-48"></use>
        </svg>
      </div>

      <h2 class="modal-item-h2">Thank you!</h2>
      <p class="modal-item-p">We have received your contact details and will reach you soon.</p>

      <form class="modal-form-thank">
        <button type="button-send" class="modal-button">Continue</button>
      </form>
    </div>
  </div>
</div>
